@import url(../../main.css);


/* .contact-heading {
    margin-top: 50px;
    font-size: var(--font-size-large);
    text-align: center;
} */

/* .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 50px;
} */

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label {
    font-weight: bold;
    font-size: var(--font-size-small);
}

.form-messeage-input {
    margin-bottom: 10px;
    padding: 60px;
    border: 2px solid var(--color-menu-border);
    border-radius: 4px;
    font-size: var(--font-size-small);
    transition: all 0.2s ease;
}

.form-input,
.form-select {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid var(--color-menu-border);
    border-radius: 4px;
    font-size: var(--font-size-small);
    transition: all 0.2s ease;
}

.form-input:hover,
.form-messeage-input:hover,
.form-input:focus,
.form-select:hover,
.form-select:focus {
    border: 2px solid var(--color-button);
}

.form-select {
    cursor: pointer;
}

.form-button {
    margin: 40px auto 0;
    padding: 10px;
    outline: none;
    border: transparent;
    width: 90%;
    font-size: var(--font-size-small);
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    gap: 20px;
}


@media (min-width: 768px) {
    .form-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .form-input,
    .form-select {
        font-size: var(--font-size-before-medium);
    }

    .form-label {
        font-size: var(--font-size-mediuml);
    }

    .form-button {
        width: 40%;
        font-size: var(--font-size-mediuml);
    }

    .form-title {
        font-size: var(--font-size-auxiliary);
        margin: 0 auto 40px;
    }

    .order-image {
        display: block;
        background-image: url("../../../images/order.jpg");
        width: 50%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    form {
        width: 40%;
    }
}

@media (min-width: 1280px) {
    .order {
        margin: 100px auto;
    }
}

