.hover-bg-p-2:hover {
    background-color: var(--color-primary);
}

.hover-color-p-2:hover {
    color: var(--color-primary);
}

.hover-color-n-1:hover {
    color: var(--color-neutral2);
}

.bg-p-1 {
    background-color: var(--color-button);
}

.bg-p-2 {
    background-color: var(--color-primary);
}

.bg-n-2 {
    background-color: var(--color-neutral1);
}

.color-p-2 {
    color: var(--color-primary);
}

.border-p-2 {
    border-color: var(--color-primary);
}

.glass-1 {
    background: rgba(255, 255, 255, 0.2);
}

.glass-2 {
    background: rgba(255, 255, 255, 0.1);
}

.glass-3 {
    background: rgba(255, 255, 255, 0.8);
}
