:root {
	--color-primary: #1f2937;
	--color-background: #ffffff;
	--color-neutral1: #e5e7eb;
	--color-neutral2: #f9faf8;
	--color-button: #3882f6;

	--font-size-header-logo-text: 24px;
	--font-size-header-link: 18px;
	--font-size-header-information-text: 36px;

	--font-size-hero-header: 48px;
	--font-size-hero-secondary-text: 18px;

	--font-size-quote-text: 36px;
}
